/* Limpar espaçamentos e manter o tamanho consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

/* Estilos para o header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para as divs dentro do header */
header div {
    display: flex;
    align-items: center;
}

/* Estilos para img dentro do header */
header img {
    max-width: 50px;
    margin-right: 16px;
    cursor: pointer;
}

/* Estilos para h1 dentro do header */
header h1 {
    font-size: 1.8em;
}

/* Estilos para input[type="search"] */
input[type="search"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-right: 16px;
}

/* Estilos para o main */
main {
    flex: 1;
    display: flex;
    background-color: #fff;
}

/* Estilos para label */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilos para inputs de texto, email e senha */
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9;
    margin-bottom: 8px;
    width: 100%;
}

/* Estilos para input[type="submit"] */
input[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 8px;
}

/* Estilos para nav */
nav {
    flex: 1;
    background-color: #fff;
    border-right: 2px solid #ccc;
    padding: 8px;
}

/* Remover marcador da lista em nav */
nav ul {
    list-style: none;
}

/* Estilos para li em nav */
nav ul li {
    margin-bottom: 16px;
}

/* Estilos para a dentro de li em nav */
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Efeito hover para a em nav */
nav ul li a:hover {
    background-color: #4CAF50;
    color: white;
}

/* Estilos para section */
section {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 8px 8px 8px 16px;
}

/* Estilos para h2 em section */
section h2 {
    margin-bottom: 16px;
    font-size: 1.5em;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 16px;
}

/* Estilos para form em section */
section form {
     max-width: 368px;
}

/* Estilos para article */
article {
     padding: 16px;
     border: 1px solid #ccc;
     border-radius: 8px;
}

/* Estilos para footer */
footer {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.9em;
    color: #666;
}

/* Estilos para login-container */
.login-container {
    max-width: 400px;
    margin: 48px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-direction: column;
    align-items: stretch;
    padding: 16px;
    justify-content: center;
    width: 100%;
}

/* Estilos para img em login-container */
.login-container img {
    max-width: 100px;
    margin: 0 auto;
}

/* Estilos para h1 em login-container */
.login-container h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #4CAF50;
}

/* Estilos para input[type="submit"] em login-container */
.login-container input[type="submit"] {
    width: 100%;
}

/* Estilos para a em login-container */
.login-container a {
    display: block;
    margin-top: 8px;
    font-size: 0.9em;
    color: #4CAF50;
    text-decoration: none;
}

/* Estilos para card-grid */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 16px;
}

/* Estilos para media query */
@media (max-width: 768px) {
    body {
        height: 100%;
        overflow: auto;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    main {
        flex-direction: column;
    }

    nav {
        border-bottom: 2px solid #ccc;
    }

    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}